@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&subset=cyrillic,cyrillic-ext');
html {
    height: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    height: 100%;
    color: hsl(0,0%,10%);
}
a {
    display: inline-block;
    color: hsl(0, 100%, 40%);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/*page*/
.page {
    background-color: hsl(240, 0%, 94%);
}
.page__content {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.page__title {

}
.page__form {
    margin-bottom: 120px;
    max-width: 550px;
    background-color: hsl(0, 0%, 100%);
    padding: 70px 70px 70px;
    box-sizing: border-box;
    box-shadow: 0 19px 60px -20px hsla(0,0%,0%,0.3);
}


/*form*/
.form {
    width: 100%;
    transition-duration: 1s;
    max-height: 1000px;
}
.form.-hidden {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.form__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
}
.form__item {
    margin-bottom: 5px;
    position: relative;
}
.form__item--required {}
.form__action {}
.form__tooltip {
    position: absolute;
    top: 0;
    left: calc(100% + 90px);
    font-size: 14px;
    width: 300px;
    color: hsl(0, 100%, 40%);
}
.form__item--required::after {
    content: '*';
    position: absolute;
    font-weight: 800;
    color: hsl(0, 100%, 40%);
    line-height: 0;
    top: 13px;
    right: 7px;
}
.form__item--checkbox {
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
}
.form__input {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    padding: 20px 30px;
    border: 1px solid hsl(0, 0%, 60%);
    line-height: 1;
    background-color: hsl(0, 0%, 100%);
    transition-duration: 0.3s;
}
.form__input.-invalid {
    box-shadow: 0 0 5px 0 hsl(0, 100%, 40%);
    border-color: hsl(0, 100%, 40%);
}
.form__input.-invalid:valid {
    box-shadow: 0 0 5px 0 hsl(140, 100%, 40%);
    border-color: hsl(140, 100%, 40%);
}
.form__input.-invalid:valid + .form__tooltip {
    display: none;
}
.form__input:focus {
    border-color: hsl(0, 100%, 40%);
    outline: none;
}
.form__checkbox {}
.form__textarea {
    margin: 0;
    padding: 15px 30px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    min-height: 150px;
}
.form__submit {
    transition-duration: 0.1s;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 60px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    background-color: hsl(0, 100%, 40%);
    color: #fff;
    border: none;
    cursor: pointer;
    user-select: none;
    margin-top: 15px;
}
.form__submit:hover {
    opacity: 0.8;
}


/*checkbox*/
.checkbox {}
.checkbox__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.checkbox__input:checked + .checkbox__label::before {
    transform: rotate(40deg);
    top: -3px;
    width: 10px;
    border-color: hsl(0, 100%, 40%);
    border-top-color: transparent;
    border-left-color: transparent;
}
.checkbox__input.-invalid + .checkbox__label::before {
    box-shadow: 0 0 5px 0 hsl(0, 100%, 40%);
}
.checkbox__input.-invalid:valid + .checkbox__label::before {
    box-shadow: none;
}
.checkbox__input.-invalid:valid ~ .form__tooltip {
    display: none;
}
.checkbox__label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.checkbox__label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(0, 0%, 80%);
    box-sizing: border-box;
    transition-duration: 0.3s;
}


/*answer*/
.answer {
    animation-name: answer;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    opacity: 0;
    position: absolute;
    overflow: hidden;
}
.answer__title {
    margin-top: 0;
}



/*animations*/
@keyframes answer {
    0% {
        opacity: 0;
        position: static;
        transform: translateY(-20px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        position: static;
        transform: translateY(0);
        max-height: 500px;
    }
}


/*tablet*/
@media (max-width: 1200px) {
    .page__content {
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media (max-width: 940px) {
    .form__tooltip {
        position: static;
        width: auto;
        margin-top: 8px;
        margin-bottom: 22px;
    }
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .page__title {
        font-size: 24px;
    }
    .page__content {
        margin-right: 10px;
        margin-left: 10px;
    }
    .page__form {
        padding: 20px 20px 50px;
    }

    .form__title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .form__input,
    .form__textarea {
        padding: 15px 20px;
    }
    .form__item--required::after {
        font-size: 14px;
    }
    .form__tooltip {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .form__submit {
        font-size: 12px;
        padding: 18px 40px;
    }

    .answer__title{
        font-size: 22px;
        margin-bottom: 20px;
    }
}